---
import "../styles/global.css";
import { getAllPhotoPosts } from "../lib/sanity";
import { getMasonryGrid } from "../lib/grid";
import Photo from "../components/Photo.astro";
import Topbar from "../components/Topbar.astro";

const photos = await getAllPhotoPosts();
const layout = getMasonryGrid(photos, 6, true);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Snaps - by Tushar</title>
    <meta name="description" content="" />
  </head>
  <body>
    <Topbar active="collections"/>
    <main class="container">
      <section class="masonry-grid" aria-label="Photo Gallery">
        {
          layout.map((photo, index) => (
            <Photo
              title={photo.title}
              url={photo.image}
              downloadUrl={photo.downloadUrl}
              orientation={photo.orientation}
              className={photo.className}
              loading={index > 10 ? "lazy" : "eager"}
            />
          ))
        }
      </section>
    </main>
  </body>
</html>
