---
import { getAllPhotoPosts } from "../lib/sanity";
import { getMasonryGrid } from "../lib/grid";
import Photo from "@components/Photo.astro";
import Layout from "../layouts/main.astro";

const photos = await getAllPhotoPosts();
const layout = getMasonryGrid(photos, 6, true);
---
  <Layout title="Snaps - by Tushar">
      <section class="masonry-grid" aria-label="Photo Gallery">
        {
          layout.map((photo, index) => (
            <Photo
              title={photo.title}
              url={photo.image}
              slug={photo.slug}
              downloadUrl={photo.downloadUrl}
              orientation={photo.orientation}
              className={photo.className}
              loading={index > 10 ? "lazy" : "eager"}
              allClasses={photo.gridSize}
            />
          ))
        }
      </section>
      <script>

const GRID_SIZE = {
    square:"grid-square",
    portrait: "grid-portrait",
    landscape: "grid-landscape",
    bigSquare: "grid-big-square",
  };
      function arrangeTiles() {

        document.querySelectorAll(".masonry-grid-picture").forEach(picture => {
          const sizes = picture.dataset.gridSizes.split(",");
          const size = sizes[Math.floor(sizes.length * Math.random())];
          const className = GRID_SIZE[size];
          picture.classList.add(className);
        });
      }
      
        arrangeTiles();
      </script>

    </Layout>
