---
import { getAllPhotoPosts } from "../lib/sanity";
import { getMasonryGrid } from "../lib/grid";
import Photo from "@components/Photo.astro";
import Layout from "../layouts/main.astro";

const photos = await getAllPhotoPosts();
const layout = getMasonryGrid(photos, 6, true);
---
  <Layout title="Snaps - by Tushar">
      <section class="masonry-grid" aria-label="Photo Gallery">
        {
          layout.map((photo, index) => (
            <Photo
              title={photo.title}
              url={photo.image}
              slug={photo.slug}
              downloadUrl={photo.downloadUrl}
              orientation={photo.orientation}
              className={photo.className}
              loading={index > 10 ? "lazy" : "eager"}
            />
          ))
        }
      </section>
    </Layout>
